*.iws
*Db.properties
*Db.script
*.sdf
*.log
*.exe
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/lib/
/backup/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/My3dsMaxExporter/**/x64/
/My3dsMaxExporter/**/ipch/


# Eclipse Project files
.classpath
.project
.settings/

# Sublime Project files
*.sublime-project
*.sublime-workspace

# Idea project files
.idea
*.iml

# JBS files
*.jbs